.box section {

}
.inner {}
.section__hdl {
  text-align: center;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  padding-bottom: 3.75rem;
  margin-top: -12.875rem;
}
.section__box {
  display: flex;
  justify-content: center;
  gap: 11.4375rem;
}
.section__col {
  min-width: 11rem;
  min-height: 10.4375rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.section__img {
  display: flex;
  justify-content: flex-end;
}
.section__hdl--ternary {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.375rem;
}
.section__text {
  max-width: 7.5rem;
  text-align: center;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  color: rgba(165, 165, 165, 1);
}