@import "../mobile/mobilemedia";

.intro__button .intro__button--text {

  background-color: rgba(8, 166, 228, 1);
  border-radius: 2.5rem;
  height: 4.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 .1875rem .375rem rgba(8, 166, 228, 1);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  @include mobile {
    font-size: 1.5rem;
    transform: scale(50%);
  }
}

.intro__button .intro__button--text:hover {

  background-color: rgba(255, 255, 255, 1);
  border-radius: 2.5rem;
  height: 4.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 .1875rem .375rem rgba(8, 166, 228, 1);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(8, 166, 228, 1);
  text-decoration: none;
}
